/* =========================
   ROOT VARIABLES
========================= */
:root {
  /* surfaces */
  --surface-bg: #19172d;
  --surface-border: rgba(255, 255, 255, 0.1);

  /* cards */
  --card-bg-soft: rgba(255, 255, 255, 0.03);
  --card-border-soft: rgba(255, 255, 255, 0.07);
  --card-bg-solid: #1e1b32;

  /* text */
  --text-primary: rgba(215, 215, 213, 1);
  --text-secondary: rgba(106, 106, 111, 1);

  /* accent */
  --accent-primary: rgba(225, 226, 171, 1);

  /* shadows */
  --shadow-soft: 0 4px 6px rgba(0, 0, 0, 0.3);
}
/* =========================
   RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   SCROLLBARS
========================= */

html {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

/* =========================
   DOCUMENT
========================= */

html,
body {
  width: 100%;
  height: 100dvh;
  overflow: hidden;

  z-index: 5;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  font-family: "Nunito", sans-serif;
  background:
    radial-gradient(
      100% 100% at 60% 15%,
      #252043 0%,
      #1e1838 38%,
      #100e1d 68%,
      #0d0c16 100%
    ),
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.9) 45%,
      rgba(0, 0, 0, 0.7) 60%,
      rgba(0, 0, 0, 0.5) 75%,
      rgba(0, 0, 0, 0.3) 88%,
      rgba(0, 0, 0, 0.1) 95%,
      rgba(0, 0, 0, 0.01) 100%
    );
}
